@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@400;700&display=swap');

/* ==============================================================
/*	GENERAL
/* ============================================================== */
	.muli {
		font-family: 'Muli';
	}

	.ls-2px {
		letter-spacing: 2px;
	}

	.fs-12 {
		font-size: 12px;
	}
	.fs-15 {
		font-size: 15px;
	}
	.fs-18 {
		font-size: 18px;
	}
	.fs-20 {
		font-size: 20px;
	}

	.lh-22 {
		line-height: 22px;
	}
	.lh-28 {
		line-height: 28px;
	}
	.lh-1em {
		line-height: 1em;
	}

	.fw-400 {
		font-weight: 400;
	}
	.fw-500 {
		font-weight: 500;
	}
	.fw-600 {
		font-weight: 600;
	}
	.fw-700 {
		font-weight: 700;
	}

	body {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		line-height: normal;
		color: #292E3E;
	}

	h1,h2,h3,h4 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	h1,h2 {
		font-size: 40px;
	}

	b {
		font-weight: 600;
	}

	.blue-1 {
		color: #1E6DEB;
	}

	@media only screen and (max-width: 576px) {
		h1,h2 {
			font-size: 30px;
		}
	}


/* ==============================================================
/*	HEADER
/* ============================================================== */
#header {
	height: 600px;
	background: url(../images/header-applyboard.jpg) no-repeat;
	background-size: cover;
	background-position: top right;
	color: #fff;
}

#header-background {
    background: url(../images/header-background.svg) no-repeat;
    background-size: auto 100%;
    background-position: top right;
}
#header-background h1 {
	margin-bottom: 2rem;
}

@media only screen and (max-width: 1440px) {
	#header {
		background: url(../images/header-applyboard-1440.jpg) no-repeat;
		background-position: top right;
	}
}

@media only screen and (max-width: 992px) {
	#header {
		background: url(../images/header-applyboard-992.jpg) no-repeat;
		background-position: top right;
	}
}

@media only screen and (max-width: 768px) {
	#header {
		background: url(../images/header-applyboard-768.jpg) no-repeat;
		background-position: top right;
	}
}


/* ==============================================================
/*	ESTUDIA
/* ============================================================== */
#estudia {
	background: #f0f5ff;
	padding: 4rem 0;
}

#form-wrapper {
    border-radius: 1rem;
	box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}
#form-wrapper h2 {
	font-size: 20px;
	line-height: 32px;
	font-weight: 700;
}

.form-nodo {
    display: flex;
    flex-direction: row;
	margin: 1rem 0px;
}
.form-nodo img {
    margin-right: 1rem;
}

.ff-form-main {
    max-width: 100% !important;
}

#ffSection0 > div:first-child {
	display: none;
}
#dvFastForms .ff-group-row {
    max-width: 100% !important;
    margin: 0 !important;
}
.ff-item-row {
	padding-top: 0px !important;
    margin-bottom: 1rem;
}
.ff-col-1 {
    text-align: left;
}
.ff-col-2 {
    min-width: 60% !important;
    max-width: 60% !important;
	width: 60% !important;
}
.ff-page-header-row {
	display: none;
}
#dvFastForms .ff-group-row {
	margin: 0;
}
#dvFastForms .ff-footer-group {
    padding: 1rem 0 0 0 !important;
}

@media only screen and (max-width: 992px) {
	.ff-col-1 {
		min-width: 100% !important;
	}

	.ff-col-2 {
		min-width: 100% !important;
		max-width: 100% !important;
		width: 100% !important;
	}
}


/* ==============================================================
/*	AREAS
/* ============================================================== */
#areas {
	background: linear-gradient(277.93deg, #00368A 6.61%, #1E6DEB 107.22%);
	color: #fff;
	padding: 4rem 0;
}

.area-nodo {
	/* box-sizing: border-box;
	width: 33%;
	padding: 3rem;
	text-align: center; */

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 1.5rem;
	text-align: center;
	width: 33%;
}
.area-nodo img {
	height: 70px;
}
.area-nodo p {
	margin-top: 1rem;
}


/* ==============================================================
/*	INSTITUCIONES
/* ============================================================== */
#instituciones {
	padding: 4rem 0;
}

.instituciones-nodo {
	box-sizing: border-box;
	padding: 1rem;
}


/* ==============================================================
/*	ESTUDIANTE
/* ============================================================== */
#estudiante {
	background: #F7F9FF;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	padding: 4rem 0;
}

.estudiante-nodo {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	padding: 1.5rem;
	background: #fff;
	border: 1px solid #E3E6F2;
	border-radius: 8px;
	text-align: center;
	width: 340px;
	height: 330px;
}
.estudiante-nodo img {
	width: 100px;
}
.estudiante-nodo p {
	margin: 0;
}
.estudiante-titulo {
	font-weight: 600;
}
.estudiante-texto {
	font-size: 14px;
}


/* ==============================================================
/*	SOBRE APPLYBOARD
/* ============================================================== */
#sobre-applyboard {
	padding: 4rem 0;
}


/* ==============================================================
/*	TESTIMONIALS
/* ============================================================== */
#testimonials {
	background: url('../images/parallax-background.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6rem 0;
	box-shadow:inset 0 0 0 2000px rgba(0,100,225,0.23);
}

.testimonial-card {
	box-sizing: border-box;
	width: 440px;
	min-height: 355px;
	padding: 1rem 2rem;
	margin: 2rem;

	background: linear-gradient(114.2deg, #1E6DEB 7.92%, #00368A 106.98%);
	color: #fff;
	border-radius: 8px;
}

.testimonial-card-stars {
	margin-bottom: 1rem;
}
.testimonial-card-stars img {
	width: 112px;
}

.testimonial-card-text {
	font-size: 18px;
	line-height: 32px;
	font-weight: 600;
	color: #fff;
}

.testimonial-card-footer {
	display: flex;
	align-items: center;
}
.testimonial-card-footer img {
	margin-right: 1rem;
}

@media only screen and (max-width: 576px) {
	.testimonial-card {
		width: 100%;
		margin: 0.5rem 0rem;
	}
}


/* ==============================================================
/*	FOOTER
/* ============================================================== */
footer {
	background: #0247B8;
	padding-top: 2rem;
}

footer a {
	color: #fff;
}
footer a:hover {
	color: #7ea5e3
	;
}

#footer-logo {
	width: 200px;
}